name: mb_button

description: A new button which requires only few arguments to get your desired button.

homepage: https://github.com/moulibheemaneti/mb_button.git

repository: https://github.com/moulibheemaneti/mb_button.git

version: 3.0.2

environment:
  sdk: ^3.10.8

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_lints: ^6.0.0

flutter:
  uses-material-design: true
